@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
  overflow-x: hidden;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {

  overflow: hidden;
  padding: 60px 0;  
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  /* width: 250px; */
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 500px;
  margin: 0 30px;
}

.roboto {
  font-family: "Roboto", sans-serif;

}

.roboto2 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;

}
.logos2 {

  overflow: hidden;
  /* padding: 60px 0; */
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos2:before,
.logos2:after {
  position: absolute;
  top: 0;
  /* width: 250px; */
  height: 100%;
  content: "";
  z-index: 2;
}

.logos2:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos2:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos2:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide2 {
  display: flex;
  animation: 35s slide infinite linear;
}

.logos-slide2 img {
  height: 80px;
  margin: 0 30px;
}
